<!--左横追加-->



<h1>Books</h1>
<p>title</p>
<p>opinion</p>
<% @books.each do |f| %>
  <%= f.title %>
  <%= f.body %>
  <P><%= link_to "Edit", edit_book_path(f) %></p>
  <p><%= link_to "Destroy", book_path(f),  method: :delete, "data-confirm" => "Are you sure?" %></p>
<% end %>
